@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;


@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-uaq-accent: var(--uaq-accent);
  --color-brand: var(--brand);
  --color-success: var(--success);
  --color-uaq-warning: var(--uaq-warning);
  --color-uaq-danger: var(--uaq-danger);
  --color-uaq-white: var(--uaq-white);
  --color-accent-hover: var(--accent-hover);
  --color-uaq-brand-hover: var(--uaq-brand-hover);
  --color-secundary-hover: var(--secundary-hover);
  --color-uaq-warning-hover: var(--uaq-warning-hover);
  --color-uaq-danger-hover: var(--uaq-danger-hover);
  --color-uaq-white-ghost: var(--uaq-white-ghost);
  --color-uaq-gray: var(--uaq-gray);
  --color-uaq-terniary: var(--uaq-terniary);
  --color-uaq-terniary-hover: var(--uaq-terniary-hover);
}


:root {
  /*Estos son los colores que se usan en el proyecto*/
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /*Aqui son los colores de los componentes*/
  --accent: #FFFFFF;
  --brand: #470A68;
  --secundary: #FF7F40;
  --uaq-warning: oklch(78.19% 0.1585 72.33);
  --uaq-danger: #FE4141;
  --uaq-white: oklch(100% 0 0);
  --uaq-gray: #71717A; /*Gris de botones ghost*/
  --uaq-white-ghost: #FAFAFA; /*Fondo botones ghost*/
  /*Estos son los colores de el hover*/
  --accent-hover: #AD42D0;
  --uaq-brand-hover: #AD42D0;
  --uaq-success-hover: oklch(0.5112 0.1819 153.21);
  --uaq-warning-hover: oklch(0.5515 0.140162 66.5167);

  --uaq-danger-hover: oklch(0.5361 0.2142 13.65);
  --uaq-selected-hover: oklch(0.68 0.17 39.5);

  /* Nuevo color terniary */
  --uaq-terniary: #8028A2;
  --uaq-terniary-hover: #9933BF; /* opcional, para hover */
}

@font-face {
  font-family: 'Futura';
  src:
    url('/fonts/FuturaBT-Book.woff2') format('woff2'),
    url('/fonts/FuturaBT-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:
    url('/fonts/FuturaBT-Medium.woff2') format('woff2'),
    url('/fonts/FuturaBT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:
    url('/fonts/FuturaBT-Heavy.woff2') format('woff2'),
    url('/fonts/FuturaBT-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:
    url('/fonts/FuturaBT-Light.woff2') format('woff2'),
    url('/fonts/FuturaBT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Futura', sans-serif;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-flex;
  min-width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-reverse {
  display: inline-flex;
  min-width: max-content;
  animation: scroll-reverse 20s linear infinite;
}
